@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}


.container:before {
  content: "";
  position: absolute;
  height: 1000px;
  width: 750px;
  top: -30%;
  right: -17%;
  transform: translateX(100%);
  background-image: linear-gradient(-45deg,#5f2c82,#49a09d);

  border-radius: 60%;

}

.container {
 position: absolute;
top: 50%;
left: 35%;
transform: translate(-50%,-50%);
width: 400px;
background: white;
border-radius: 40px;
height: 650px;
}

.tittle{
font-size:2px;
color:#5f2c82;
padding:10px;
}

.forms-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 30px;
  top: 260px;
  left: -600px;
}

.register {
  position: absolute;
  top: 23%;
  transform: translate(-50%, -50%);
  left: 200%;
  width: 100%;
  height: 120%;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}



.input-field {
  max-width: 350px;
  width: 100%;
  background-color:white;
  margin: 10px 0;
  height: 55px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;

}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: black;

}

.input-field input {
  background: none;
  outline: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: black;
}


.input-field input:focus ~ label,
.input-field input:valid ~ label{
top: 5px;
color: #2691d9;
}

.input-field input:focus ~ span::before,
.input-field input:valid ~ span::before{
width: 70%;
left:70px;
}

.input-field input::placeholder {
 position: absolute;
top:0%;
left:5px;
color:black;
transform:translateY(-50%);
font-size:16px;
pointer-event:16px;
pointer-events:none;
transition: .5s;
}

.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;

  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.social-icon:hover {
  color: #4481eb;
  border-color: #4481eb;
}

.btn{
  width: 300px;
  background-color: #5f2c82  ;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn-solid{ /*Register*/
  width: 300px;
  background-color: #5f2c82  ;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  margin-left: 45px;
}

.btn-solid-1
{ /*HOME*/
  width: 100px;
  background-color: #5f2c82 ;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  margin-top: -32px;
  margin-left: -25px;
}

.btn:hover {
  background-color: #49a09d;
}


.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 7;
}


.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.content {
  color: white;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

.login-banner {
  width:100%;
  color: white;
  top: -88%;
  right: -155%;
    position: relative;
}
.login-btn{
  width:100%;
  color: white;
  top: -82%;
  right: -170%;
    position: relative;

}
.home-btn{
  width:-100%;
  color: white ;
  top: -109%;
  right: 26%;
    position: relative;

}
.pic {
width: 500px;
height: 500px;
opacity: 0.8;
position: absolute;
top: 30%;
right: -165%;
background-color: linear-gradient(120deg,#5f2c82,#49a09d)
}



  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

.error-handling{
  width:50%;
  size: 10%;
  color: red;
  top: -78%;
  right: 40%;
    position: relative;
}

.pic2{
width: 100px;
height: 100px;
opacity: 0.8;
position: absolute;
top: 0%;
right: -167%;
background-color: linear-gradient(120deg,#5f2c82,#49a09d)
}

